@charset "UTF-8";
/* CSS Document */
body { 
	width:100%; 
	height:100%; 
	background-color: #F2F2F2;  
	margin: 0;
	padding: 0; 
	overflow: hidden;
}

header {
	text-align:center;
	margin-top: 15px;
	font-size: x-large;
	font-family: alex-brush Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	z-index: -1
	margin: 0;
	padding: 0;
}

h4 {
	opacity: 0.6;
	margin: 0;
	padding: 0;
	text-align: center;	
}

#play-thesis {
	opacity: 0.0;	
}

button {
	background:none;
  	border:none;	
	z-index: 1000;
}

button:active {
	outline: none;
	border: none;
}

.centered {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

canvas { 
	display: block;
	z-index: 100;
}

clock_table {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
	text-align:center;
  	transform: translate(-50%, -50%);
	width: 100%;	
	height: 200px;
	border-collapse: collapse;
	table-layout: fixed;
	z-index: 200;
	padding: 5%;
}

td div {
	style: inline-block;	
}
